.header {
    background-color: #343534;
    display:block;
    width: 100%;
    clear:both;
    padding: 1em;
}

.footer {
    background-color:#00C;
    display:block;
    width: 100%;
    position:fixed;
    float:left;
    clear:both;
    margin:0px;
    height:10%;
    z-index:20
}

.center {
    background-color: #fff;
    display:block;
    width: 100%;
}

.body{
    font-family: steiner;
}